<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cars"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="car">{{ car.model }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="setModif()">Turn editable</ion-button>
  <div *ngIf="!modif">
    <ion-grid *ngIf="car">
      <ion-row>
        <ion-col>
          <strong>Electric :</strong>
          <ion-icon *ngIf="car.electric" name="checkmark"></ion-icon>
          <ion-icon *ngIf="!car.electric" name="close-circle"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button (click)="onDelete(car.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img [src]="car.pictureLink" [alt]="car.model">
        </ion-col>
        <ion-col>
          <strong>Brand</strong><br>
          {{car.brand}} <br>
          <strong>Model</strong><br>
          {{car.model}} <br>
          <strong>Country</strong><br>
          {{car.country}} <br>
          <strong>Top Speed</strong><br>
          {{car.speed}} <br>
          <strong>Power</strong><br>
          {{car.hp}} <br>
          <strong>Torque</strong><br>
          {{car.torque}} <br>
          <strong>Weight</strong><br>
          {{car.weight}} <br>
          <strong>Price</strong><br>
          {{car.price}} <br>
          <strong>Release Date</strong><br>
          {{car.releaseDate}} <br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Country</strong><br>
          {{car.country}} <br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="modif">
    <ion-item>
      <ion-input type="text" label="Image" [(ngModel)]="car.pictureLink"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Brand" [(ngModel)]="car.brand"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Model" [(ngModel)]="car.model"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Country" [(ngModel)]="car.country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Top Speed" [(ngModel)]="car.speed"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Power" [(ngModel)]="car.hp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Torque" [(ngModel)]="car.torque"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Weight" [(ngModel)]="car.weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Price" [(ngModel)]="car.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toggle label="Electric"  [(ngModel)]="car.electric"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Date" [(ngModel)]="car.releaseDate"></ion-input>
    </ion-item>
    <p class="text-center">
      <ion-button (click)="onModif()">Modify</ion-button>
    </p>
  </div>
</ion-content>