<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="p-3">
    <h1>Who am I?</h1>
    <ion-row>
      <ion-col size="3">
        <img src="https://avatars.githubusercontent.com/u/102355214?v=4">
      </ion-col>
      <ion-col size="9">
        <p>
          My name is Mohamed and I am a web developer. I am passionate about web development and I am always looking for new challenges. I am currently learning Ionic.
        </p>
        <p>
          I am also a fan of cars and I like to share my passion with others. I created this application to share my passion with you.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>My experience</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          I have been a web developer for 3 years. I have worked on several projects and I have learned a lot. I am currently working on a project that uses the latest technologies.
        </p>
        <p>
          My goal is to become a full stack developer and to be able to create complete applications. I am currently learning Angular and I am also interested in learning React.
        </p>
        <p>
          I started Web development 3 years ago, firstly on my own and then I started my studies in web development. I am currently in my last year of study in IUT de Metz.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
