<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/films/new">Création</ion-button>
    <ion-title>Ma bibliothèque</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="page-films-content">
  <h2 class="page-films-content__title">Liste des films</h2>
  <ion-grid class="page-films-content__grid">
    <ion-row class="page-films-content__grid__row">
      <ion-col size="4" *ngFor="let film of films">
        <ion-card class="page-films-content__grid__row__card" [routerLink]="['/films', film.id]">
          <ion-card-header>
            <ion-card-title class="page-films-content__grid__row__card__title">{{film.title}}</ion-card-title>
          </ion-card-header>
          <img [src]="film.pictureLink" [alt]="film.title">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  Pied de page
</ion-footer>

